{{>header}}

<div class="tutorials">
	<div class="header">
		<img src="/images/vapor-university-logo.png" alt="Vapor University" class="logo">
		<h1><strong>vapor</strong>.university</h1>

		<ul class="toggle">
			{{#mediums}}
			<li>
				<a class="{{class}}" href="?medium={{url}}">{{text}}</a>
			</li>
			{{/mediums}}
		</ul>
	</div>

	<ul class="list">
		{{#tutorials}}
			<li>
				<a target="_blank" class="tutorial {{#playable}}playable{{/playable}}" href="{{url}}">
					<img src="/images/previews/{{image}}" alt="" class="preview">
					<div class="content">
						<h2>{{name}}</h2>
						<p>{{description}}</p>
						<p>{{duration}}m • {{difficulty}} • {{author}}</p>
					</div>
				</a>
			</li>
		{{/tutorials}}
	</ul>
</div>

{{>footer}}