<!DOCTYPE html>
<html>
	<head>
		<title>Vapor University</title>
		<link href='https://fonts.googleapis.com/css?family=Quicksand:400,700,300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/styles/app.css">
	</head>
	</body>