{{>header}}

<div class="tutorials">
    <div class="header">
        <img src="/images/vapor-university-logo.png" alt="Vapor University" class="logo">
        <h1><strong>vapor</strong>.university</h1>
    </div>

    <p class="error">{{ message }}</p>
</div>

{{>footer}}
